PORT=5050
NODE_ENV=development
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
FIREBASE_STORAGE_BUCKET=your-project-id.firebasestorage.app
# ----- Bakong KHQR Mandatory Configuration ----- #
BAKONG_BASE_URL=https://api-bakong.nbc.gov.kh
BAKONG_PARTNER_TOKEN=
BAKONG_MERCHANT_ID=
BAKONG_KHQR_ACCOUNT=
BAKONG_KHQR_MERCHANT_NAME=Sevakam
BAKONG_KHQR_MERCHANT_CITY=Phnom Penh
BAKONG_CURRENCY=USD
BAKONG_ALLOW_MOCK=false
# ----- Optional Configuration ----- #
# BAKONG_KHQR_CHECK_PATH=/khqr/check_transaction_by_md5
# BAKONG_WEBHOOK_SECRET=
# STRIPE_SECRET_KEY=
# STRIPE_WEBHOOK_SECRET=
